!!!
%html
  %head
    %title Eighty
    = csrf_meta_tags
    = favicon_link_tag "logo.png"
    %link{ href: image_url("logo.png"), rel: "apple-touch-icon" }/
    %meta{ content: "yes", name: "mobile-web-app-capable" }/
    %meta{ content: "yes", name: "apple-mobile-web-app-capable" }/
    %meta{ content: "minimal-ui, width=device-width,
      height=device-height, initial-scale=1.0, maximum-scale=1.0",
      name: "viewport" }/

    = stylesheet_link_tag "application",
        "https://fonts.googleapis.com/css?family=Droid+Sans+Mono",
        "https://fonts.googleapis.com/css?family=Muli:200,300,400",
        "https://fonts.googleapis.com/icon?family=Material+Icons",
        media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
  %body
    #hamburger
      %i.material-icons menu

    #drawer
      .new_note_link_container
        = link_to notes_path, method: :post, class: "new_note_link" do
          %i.material-icons add
      - Note.find_each do |note|
        = link_to note, class: "truncated-note" do
          - if note.content.blank?
            This is a new note that is waiting to be written
          - else
            = truncate_html standard_markdown(note), length: 60, omission: ""

    #main= yield
