!!!
%html
  %head
    %title Eighty
    = csrf_meta_tags
    = favicon_link_tag "logo.png"
    %link{ href: image_url("logo.png"), rel: "apple-touch-icon" }/
    %meta{ content: "no-cache", name: "turbolinks-cache-control" }/
    %meta{ content: "yes", name: "mobile-web-app-capable" }/
    %meta{ content: "yes", name: "apple-mobile-web-app-capable" }/
    %meta{ content: "minimal-ui, width=device-width,
      height=device-height, initial-scale=1.0, maximum-scale=1.0",
      name: "viewport" }/

    = stylesheet_link_tag "application",
        "https://fonts.googleapis.com/css?family=Droid+Sans+Mono",
        "https://fonts.googleapis.com/css?family=Muli:200,300,400",
        "https://fonts.googleapis.com/icon?family=Material+Icons",
        media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
  %body
    - if current_user.present?
      %nav
        %i.material-icons#hamburger menu
        .flex
        = yield(:nav)

      = render "layouts/drawer"

      #main= yield
    - else
      = yield
